global
    maxconn 256

defaults
    mode tcp
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend dragonfly_front
    bind *:6379
    default_backend dragonfly_back

backend dragonfly_back
    option tcp-check
    tcp-check send "PING\r\n"
    tcp-check expect string +PONG
    server master dragonfly-master:6379 check inter 3s fall 3 rise 2
    server replica dragonfly-replica:6379 check inter 3s fall 3 rise 2 backup
